{% extends "!footer.html" %}
    {%- block extrafooter %}
        <br>
        <p><a href="https://www.geomdata.com/">
        <img width="200px" src="https://geomdata.com/wp-content/themes/foundation/img/geom-logo.png"></a></p>
        <p>Release Version: {{release}}</p>
    {{ super }}
{% endblock %}