{% extends "!layout.html" %}
  {% block footer %} {{ super() }}

  <style>
    /* Sidebar header (and topbar for mobile) */
    .wy-side-nav-search, .wy-nav-top {
      background: #E7F2FA;
    }
    /* Sidebar */
    .wy-nav-side {
      background: #262626;
    }
  </style>
{% endblock %}

{% block sidebartitle %}
    <a href="https://hiveplotlib.readthedocs.io/stable/" style="color:navy">Project Homepage</a> |
    <a href="https://gitlab.com/geomdata/hiveplotlib" style="color:navy">Source Code</a>
    {{ super() }}
{% endblock %}